_ReSharper*
bin/
*.swp
obj/
*.user
*.suo
.gitk*
*AssemblyTitle.cs
packages/*
.nuget/NuGet.exe
deploy/
*.orig
*.tmp

Microsoft.VisualStudio.DebuggerVisualizers.pdb/
Newtonsoft.Json.pdb/
System.ServiceModel.Web.pdb/
System.Web.pdb/
pingme.txt
lib/*
